@import url('//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext');
h1 {
  color: #1f3695;
  background: #f2f1f2;
  padding: 0.2em 0em 0.2em 0.5em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.views-widget-filter-search_api_views_fulltext {
  width: 60%;
}
.napo-film-video-download-form-title {
  color: transparent;
  background: url('../images/video-download.png') no-repeat 10px 7px #1f3695;
  padding: 10px;
  display: block;
  width: 47px;
  height: 37px;
}
.back_button {
  background: url('../images/arrow-button-back.png') no-repeat 115px 12px #1f3695;
  float: right;
  color: #FFF;
  height: 45px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 44px;
  font-weight: bold;
}
.view-featured-articles .views-row {
  margin: 0;
  padding: 0 0.3em 0 0;
}
.field-content.featured-article-header {
  background: url('../images/background-yellow.png') repeat-x;
  height: 59px;
  padding-top: 0.7em;
}
.field-content.featured-article-header:hover {
  border-bottom: 5px solid #1f3695;
}
.field-content.featured-article-header a {
  font-size: 17px;
  padding-bottom: 1em;
  padding-left: 2.5em;
  font-weight: bold;
}
.field-content.featured-article-body {
  background-color: #f2f1f2;
  line-height: 2em;
  padding: 0.5em 3em;
  min-height: 153px;
}
.more-link {
  background: url('../images/see-more-links.png') no-repeat 99% 40%;
  padding-right: 2.8em;
  display: block;
  clear: both;
  text-align: right;
  line-height: 2em;
  bottom: 0.5em;
  position: absolute;
  right: 3em;
}
.video-js.vjs-default-skin.vjs-paused .vjs-big-play-button {
  background: url('../images/play-video-big.png') no-repeat 99% 40%;
  width: 4em;
  height: 4em;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: -2.1em;
  margin-top: -2.1em;
}
.vjs-default-skin .vjs-big-play-button:before {
  content: none;
}
.vjs-default-skin .vjs-progress-control {
  margin-top: -19em;
}
.vjs-current-time.vjs-time-controls.vjs-control .vjs-current-time-display {
  margin-top: -7.4em;
}
.vjs-default-skin .vjs-duration .vjs-duration-display {
  margin-top: -7.4em;
}
.vjs-volume-control.vjs-control {
  margin-top: -9em;
}
.vjs-mute-control.vjs-control {
  margin-top: -9em;
  margin-left: 5em;
}
.napo-homepage-featured-films-container {
  background: #1f3695;
}
.napo-homepage-featured-films-container h2 {
  color: #f7e235;
  padding-left: 2.5em;
}
.napo-homepage-featured-films .jcarousel-container-horizontal {
  border: 0px;
  border-radius: 0px;
  background: none;
}
.jcarousel-skin-napo {
  text-align: left;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block {
  float: none;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block > li {
  float: none;
  display: inline;
  background: #1f3695;
  width: 343px;
  height: 126px;
  border: 0px;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block > li > a {
  display: inline-block;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-field-image {
  float: left;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-field-image img {
  width: 170px;
  padding-right: 1em;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field {
  float: left;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field .napo_video_title {
  width: 162px;
  display: block;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field.views-field-body {
  color: #fff;
  height: 44px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 168px;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field.views-field-body #tmgmt-1 {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field a {
  color: #f7e235;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.breadcrumb {
  margin-bottom: 0px;
}
.breadcrumb a {
  font-weight: bold;
}
.pagination a {
  font-weight: bold;
}
.pagination .active a {
  font-weight: bold;
  text-decoration: underline;
}
.pagination .prev.first,
.pagination .next,
.pagination .last {
  text-transform: uppercase;
}
.view-display-id-page_list h3 {
  background: transparent;
  color: #1f3695;
  margin-top: 0px;
}
.view-display-id-page_list .napo-film-video-download-form-title {
  margin-left: -2px;
  margin-top: -8px;
}
.block-napo-film {
  background: #f2f1f2;
  padding: 0.3em 0em 0.3em 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 13px;
}
.block-napo-film a[href*='list'] {
  background: url('../images/last-view-ico.png') no-repeat 17px 4px #bbc2df;
  padding: 6px 18px 6px 4em;
}
.block-napo-film a[href*='list'].active {
  background: url('../images/last-view-ico.png') no-repeat 17px 4px #f7e235;
  padding: 6px 18px 6px 4em;
}
.block-napo-film a[href*='grid'] {
  background: url('../images/gallery-view-ico.png') no-repeat 17px 4px #bbc2df;
  padding: 6px 18px 6px 4em;
}
.block-napo-film a[href*='grid'].active {
  background: url('../images/gallery-view-ico.png') no-repeat 17px 4px #f7e235;
  padding: 6px 18px 6px 4em;
}
.napo-film-list-view-container {
  float: right;
  z-index: 9;
}
.view-display-id-page_grid h3 {
  background: url('../images/background-blue.png') repeat-x;
  color: #FFF;
  height: 73px;
  margin-bottom: 0;
  padding-left: 1em;
  padding-top: 8px;
  margin-top: 1.5em;
}
.view-display-id-page_grid h3 a {
  color: #fff;
  display: block;
  width: 70%;
}
.view-display-id-page_grid .napo-film-video-download-form-title {
  margin-left: 33px;
}
.view-napo-films .row div:hover > .views-field-nothing.napo-film-content-container {
  color: #fff;
  display: block;
  margin-top: -212px;
  padding: 1em;
  position: absolute;
}
.view-napo-films .row div:hover > .views-field.views-field-field-image {
  background: url('../images/bacground-hover-napo-films-gallery.png') repeat-x;
}
.view-napo-films .row div:hover > .views-field.views-field-field-image img {
  visibility: hidden;
}
.view-napo-films .napo-film-video-download-form {
  float: right;
  margin-right: 50px;
  margin-top: -46px;
  max-width: 50px;
  position: relative;
}
.view-napo-films.view-display-id-page_grid .views-field-nothing.napo-film-content-container {
  display: none;
}
.field-name-field-tags {
  color: #f7e235;
  margin-bottom: 1em;
}
.napo-film-view-link {
  background: url('../images/napo-film-view-link.png') no-repeat;
  color: transparent;
  padding-bottom: 1em;
  padding-left: 2em;
  float: left;
}
.napo-film-view-link .glyphicon-play-circle:before {
  content: none;
}
.napo-film-view-episodes-link {
  color: #1f3695;
  background: #f7e235;
  font-weight: bold;
  padding: 4px 0.5em 0.5em;
  margin-top: -2px;
  display: block;
  float: left;
}
.napo-film-list-view-container .views-widget-filter-search_api_views_fulltext input {
  margin-top: 10px;
  font-weight: bold;
}
.napo-film-list-view-container .views-submit-button {
  margin-left: -18px;
  margin-top: -12px;
}
.napo-film-list-view-container .views-submit-button button {
  color: transparent;
  border-color: #bbc2df;
  background: url('../images/search.png') no-repeat 10px 5px #bbc2df;
}
.napo-film-video-download-form {
  float: right;
  position: relative;
  max-width: 50px;
  margin-top: -20px;
  margin-right: 100px;
}
.napo-film-video-download-form form {
  display: none;
  color: #fff;
  background: #000099;
}
.napo-film-video-download-form:hover form {
  position: absolute;
  display: block;
  width: 84px;
  height: 156px;
  background: #bbc2df;
  color: #1f3695;
  z-index: 9;
  margin-left: 33px;
}
.napo-film-video-download-form:hover .form-type-radio {
  margin-top: 10px;
  padding-left: 10px;
}
.napo-film-video-download-form:hover form input {
  margin-left: -8px;
  display: none;
}
.napo-film-video-download-form:hover form label {
  font-weight: bold;
  padding-left: 0px;
}
.form-type-radio.form-item-download-format.form-item.radio:hover {
  background: #f7e235;
}
.napo-film-video-download-form label[for='edit-download-format'] {
  display: none;
}
.napo-film-list-details-container {
  background: #f2f1f2;
  padding: 0.6em;
  height: 37px;
}
.napo-film-list-view .views-row {
  margin-bottom: 2em;
}
.napo-film-list-view .field-name-field-tags {
  color: #1f3695;
  float: left;
  padding-right: 1em;
  font-weight: bold;
}
.napo-film-list-view .napo-film-view-episodes-link {
  color: #FFF;
  font-weight: bold;
  padding: 9px 43px 8px 10px;
  margin-top: -8px;
  display: block;
  float: left;
  background: url('../images/arrow-button-yellow.png') no-repeat 93% 6px #1f3695;
}
.napo-film-list-view .napo-film-view-link {
  background: url('../images/napo-film-view-link.png') no-repeat;
  color: transparent;
  padding-bottom: 1em;
  padding-left: 2em;
  float: left;
}
.napo-film-list-view .napo-film-image-container .napo-film-view-episodes-link {
  margin-top: -37px;
  z-index: 9999999;
  display: block;
  position: absolute;
  margin-left: 211px;
  padding: 5px 40px 7px 9px;
  background: url('../images/arrow-button-yellow.png') no-repeat 95% 3px #1f3695;
}
.napo-film-list-view .napo-film-video-download-form {
  float: left;
  margin-right: 50px;
  margin-top: 0px;
  max-width: 50px;
  position: relative;
  margin-left: 1em;
}
.napo-film-list-view .view-film-details-icon {
  background: url('../images/napo-film-view-link.png') no-repeat 10px 10px #1f3695;
  background: url('../images/napo-film-view-link.png') no-repeat 10px 5px #1f3695;
  color: transparent;
  padding-bottom: 0em;
  padding-left: 0em;
  float: left;
  width: 49px;
  height: 37px;
  margin-top: -9px;
  margin-left: 14px;
}
.napo-film-list-view .content-cart-add-to-cart-btn {
  color: #FFF;
  font-weight: bold;
  padding: 6px 43px 8px 8px;
  margin-top: -37px;
  display: block;
  float: right;
  background: url('../images/arrow-button-yellow.png') no-repeat 93% 6px #1f3695;
}
.field-name-episode-list {
  background: #f2f1f2;
}
.field-name-episode-list h2 {
  color: #585759;
  background: url('../images/ico-view-episodes.png') no-repeat 23px 15px;
  padding: 1em 1em 1em 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.field-name-episode-list .jcarousel-item:hover .views-field-title-field {
  display: block;
}
.field-name-episode-list .views-field-title-field {
  position: absolute;
  width: 220px;
  display: none;
  background: url('../images/background-blue.png') repeat-x;
  height: 46px;
  margin-top: 20px;
}
.field-name-episode-list .napo_film_episode_link {
  text-align: left;
  padding-left: 1em;
  margin-top: 10px;
}
.field-name-episode-list .napo_film_episode_link a {
  color: #FFF;
  background: url('../images/arrow-button-yellow.png') no-repeat 95% 8px transparent;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-top: -8px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 0px;
}
.node-napo-video .field-name-film {
  padding-top: 2em;
  color: #585759;
  background: url('../images/ico-film.png') no-repeat 23px 7px #e0e1e1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}
.node-napo-video .field-name-film .field-label {
  padding-left: 2.7em;
}
.node-napo-video .field-name-field-tags {
  color: #1f3695;
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
  background: #f2f1f2;
  margin-bottom: 0px;
  padding-bottom: 1em;
}
.node-napo-video .field-name-body {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background: #f2f1f2;
}
.node-napo-video .field-name-film field-type-ds {
  background: #f2f1f2;
}
.node-napo-video .field-name-film.field-type-ds {
  padding: 0.4em;
}
.node-napo-video .napo-film-video-download-form {
  margin-top: -37px;
  cursor: pointer;
}
.node-napo-video .napo-share-widget {
  float: right;
  position: relative;
  margin-top: -37px;
  color: transparent;
  background: url('../images/share.png') no-repeat -3px -12px #1f3695;
  height: 37px;
  width: 47px;
  cursor: pointer;
}
.node-napo-video .napo-share-widget > ul {
  display: none;
  background: #bbc2df;
  margin-top: 17px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}
.node-napo-video .napo-share-widget > ul > li {
  cursor: pointer;
  color: #1f3695;
  padding: 8px;
}
.node-napo-video .napo-share-widget > ul > li:hover {
  background: #f7e235;
}
.node-napo-video .napo-share-widget:hover ul {
  position: absolute;
  display: block;
}
.jcarousel-skin-default .jcarousel-next {
  background: url('../images/carousel-right.png') no-repeat;
  height: 40px;
  background-position: 9px 25px;
  padding-bottom: 7em;
}
.jcarousel-skin-default .jcarousel-nexthover {
  background: url('../images/carousel-right.png') no-repeat;
}
.jcarousel-skin-default .jcarousel-prev {
  background: url('../images/carousel-left.png') no-repeat;
  height: 40px;
  background-position: 0px 25px;
  padding-bottom: 7em;
}
.jcarousel-skin-default .jcarousel-prevhover {
  background: url('../images/carousel-left.png') no-repeat;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: 9px 25px;
  padding-bottom: 7em;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: 0px 25px;
  padding-bottom: 7em;
}
#recommended_films {
  background: #1f3695;
  margin-top: 2em;
  padding: 1em;
}
#recommended_films .recommended_films_head {
  color: #f7e235;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
