@import url('//fonts.googleapis.com/css?family=Nunito:400,300,700');
@import url('//fonts.googleapis.com/css?family=Fredoka+One');
#block-views-featured-articles-block {
  margin-top: -85px;
}
.field-content.featured-article-header {
  background-color: #f7e235;
  height: 59px;
}
.field-content.featured-article-header:hover {
  border-bottom: 5px solid #1f3695;
}
.field-content.featured-article-header a {
  font-size: 17px;
}
.field-content.featured-article-body {
  background-color: #f2f1f2;
}
.more-link {
  background: url('../images/see-more-links.png') no-repeat 100% 40%;
  padding-right: 2.5em;
}
