/* Font reseizer */
a#text_resize_increase {
    font-size:1.2em;
}

a:hover#text_resize_increase {
    text-decoration: none;
}

a#text_resize_decrease {
    font-size:0.8em;
}

a:hover#text_resize_decrease {
    text-decoration: none;
}

/* Header */
.navbar-header a.logo img {
    max-width: 100%;
}

/* Menu dropdown */
@media only screen and (min-width : 769px) {
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
    margin-top: 0;
}
}

/* Carousels */
.jcarousel-skin-default .jcarousel-item {
    width: auto;
    height: auto;
    background:transparent;
}
.jcarousel-container-horizontal {
    height: auto !important;
}

/* Social media menu */
.menu-name-menu-social-media-menu .introduction-title {
    display: none;
}
.menu-name-menu-social-media-menu .introduction-image img{
    max-width: 25px;
    border-radius: 3px;
}


/*
 *** Homepage ***
 */
.jcarousel-view--featured-articles--block {
    width: 100% !important;
}
.view-featured-articles .jcarousel-skin-default .jcarousel-item {
    width: 33%;
    margin: 0;
}
/* Front page Video */
.slider {
    max-width: 1200px;
    margin: 0 auto;
}
.slider video{
    width: 100%;

}
.slider .view-content {
    position: relative;
}

.slider .frontpage-video-title {
    position: absolute;
    top: 30%;
    left: 30px;
    padding: 0px 30px 30px 30px;
    max-width: 300px;
    z-index: 1;
    background:url('../images/background-slider-home.png');
}


.slider .frontpage-video-title h3 a{
    color:#fff;
    font-size:24px;
    font-weight: bold;
}

.slider .frontpage-video-title p{
        color:#FFF;
    }


/* Video Gallery Detail */

.napo-film-video-download-form {
    float: right;
    position: relative;
    max-width: 50px;
    margin-top: -20px;
    margin-right: 100px;
}

.slider .frontpage-video-title p{
    color:#fff;
}

/* Episode detail overlay */
.ajax-episode-modal .napo-film-video-download-form {
    float: right;
    display: inline-block;
    position: relative;
    max-width: 350px;
    margin-top: -11px!important;
    margin-right: 57px!important;
}

.view-mode-episode_popup{
    background-color:#e0e1e1;
}

.ajax-episode-modal .field-name-field-youtube{
      border-bottom: 20px solid #F2F1F2;
}

.ajax-episode-modal .napo-share-widget {
    margin-top: 0px!important;
    margin-right: -109px!important;
}

.ajax-episode-modal .episode-list-label{
    margin-top: 42px;
    background-color:#F2F1F2!important;
}

.ajax-episode-modal .view-episode-list{
    background-color:#F2F1F2!important;
}

.ajax-episode-modal .napo-film-video-download-form form {
    display: block;
    color: #000;
    background: none;
}

.ajax-episode-modal .napo-film-video-download-form label{
    display: inline;
}
.ajax-episode-modal .napo-film-video-download-form select{
    width: auto;
}
.ajax-episode-modal .napo-film-video-download-form .form-control,
.ajax-episode-modal .napo-film-video-download-form .form-group{
    display: inline-block;
}

footer.footer.container section.block-menu-block{
    text-transform: lowercase;
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li > a {
    padding: 0 10px 0 10px;
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li~li {
    border-left: 1px solid #585759;
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li~li:hover {
    border-left: 1px solid #585759;
}

/*view episodes - video detail*/

.jcarousel-skin-default .jcarousel-item {
    background:transparent;
}

/* Views Slideshow */

.view .skin-default {
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

.view .skin-default .views-slideshow-controls-text {
    display: none;
}

.view .skin-default:hover .views-slideshow-controls-text {
    display: block;
}

.view-napo-and-friends .views-slideshow-cycle-main-frame-row-item {
    padding: 50px;
}

.view-napo-and-friends .views-slideshow-cycle-main-frame-row-item .views-field .views-field-title-field {
    float: left;
}

.view-napo-and-friends .views-slideshow-cycle-main-frame-row-item .views-field .views-field-body {
    float: left;
}

.view-napo-and-friends .views-slideshow-controls-text span {
    position: absolute;
    top: 300px;
    z-index: 900;
}

.view-napo-and-friends .views-slideshow-controls-text-previous {
    left: 15px; /* LTR */
}

.view-napo-and-friends .views-slideshow-controls-text-pause {
    display: none;
}

.view-napo-and-friends .views-slideshow-controls-text-next {
    right: 15px; /* LTR */
}

.view-napo-and-friends .views-slideshow-controls-text-previous{
    background: url("../images/carousel-left.png") no-repeat;
    height: 43px;
    overflow: hidden;
    text-indent: -9999px;
    width: 30px;
}

.view-napo-and-friends .views-slideshow-controls-text-next {
    background: url("../images/carousel-right.png") no-repeat;
    height: 43px;
    overflow: hidden;
    text-indent: -9999px;
    width: 30px;
}


.view-napo-and-friends .views-slideshow-controls-top .views-slideshow-pager-field-item {
    float: left;

}

.view-napo-and-friends .views-slideshow-pager-field-item {
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*height: 250px;*/
    /*width: 250px;*/
}

/* Download center */
.download-center-waiting {
    display: none;
}
.download-center-submit-all.progress-disabled + .download-center-waiting,
.download-center-submit-selected.progress-disabled + .download-center-submit-all + .download-center-waiting {
    display: block;
}

/* Download lesson */
#lesson-left-menu-wrapper {
    position: relative !important;
    top: 0 !important;
}


/* episode carousel fix */
/* TODO @Ivan adapt this fix to your less */



.view-episode-list .jcarousel-item {
    position: relative;
}

.view-episode-list .views-field-title-field {
    /*width: auto !important;
    height: auto !important;*/
    left: 0;
    right: 0;
    padding: 0 !important;
}
.view-episode-list .views-field-title-field a {
    margin: 0 !important;
    padding: 15px 0px !important;
}
.view-episode-list .views-field-title-field .field-content {
    padding: 0 10px !important;
}