/* Font resizer */
.bodysmall{
    font-size:1.0em;
}

.bodybig{
    font-size:1.7em;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

/* Header */
.navbar-header a.logo img {
    max-width: 100%;
}

/* Menu dropdown */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
    margin-top: 0;
}

/* Carousels */
.jcarousel-skin-default .jcarousel-item {
    width: auto;
    height: auto;
}
.jcarousel-container-horizontal {
    height: auto !important;
}

/* Social media menu */
.menu-name-menu-social-media-menu .introduction-title {
    display: none;
}
.menu-name-menu-social-media-menu .introduction-image img{
    max-width: 25px;
}

/* Video Gallery Detail */
.node-napo-video.view-mode-full .field-name-film.field-type-ds {
    background: #ddd;
}

.node-napo-video.view-mode-full .field-name-share {
    float: right;
    margin-top: -20px;
    padding: 10px;
    background: #000099;
}
.node-napo-video.view-mode-full .field-name-share .block-addtoany {
    display: none;
}
.node-napo-video.view-mode-full .field-name-share:hover .block-addtoany{
    display: block;
}
