// Insert your styling here.

// Bootstrap variables.
@import 'variables.less';

//general styles

h1{
	color:@h1-color;
	background:@h1-color-bg;
	padding: 0.2em 0em 0.2em 0.5em; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.views-widget-filter-search_api_views_fulltext{  //search in h1
	width:60%;
}

.napo-film-video-download-form-title {
	color:transparent;
    background: url('../images/video-download.png') no-repeat 10px 7px @color-blue-napo;
    padding: 10px;
    display:block;
    width: 47px;
    height: 37px;
}

.back_button{
	background: url('../images/arrow-button-back.png') no-repeat 115px 12px @color-blue-napo;
	float: right;
	color: #FFF;
	height: 45px;
	padding-top: 14px;
	padding-left: 18px;
	padding-right: 44px;
	font-weight: bold;
}

//content home

#block-views-featured-articles-block{
	margin-top: -85px;
}

.view-featured-articles .views-row{
	margin:0;
	padding: 0 0.3em 0 0;
}

.field-content.featured-article-header{
	background: url('../images/background-yellow.png') repeat-x;
	height:59px;
    padding-top: 0.7em;
}

.field-content.featured-article-header:hover{
	border-bottom: 5px solid @color-blue-napo;
} 

.field-content.featured-article-header a{
	font-size: @clickable-text-big;
    padding-bottom: 1em;
    padding-left: 2.5em;
    font-weight: bold;	
}


.field-content.featured-article-body{
	background-color:#f2f1f2;
	line-height: 2em;
	padding:0.5em 3em;
	min-height: 153px;
}

.more-link{
	  background: url('../images/see-more-links.png') no-repeat 99% 40%;
	  padding-right: 2.8em;
	  display: block;
	  clear: both;
	  text-align: right;
	  line-height: 2em;
	  bottom: 0.5em;
  	  position: absolute;
  	  right: 3em;
}

.video-js.vjs-default-skin.vjs-paused .vjs-big-play-button{
	background: url('../images/play-video-big.png') no-repeat 99% 40%;
	width: 4em;
  	height: 4em;
  	border:0;
  	box-shadow:none;
  	-webkit-box-shadow:none;
  	margin-left: -2.1em;
  	margin-top: -2.1em;
}

.vjs-default-skin .vjs-big-play-button:before{
	content:none;
}

.vjs-default-skin .vjs-progress-control{
	margin-top: -19em;
}

.vjs-current-time.vjs-time-controls.vjs-control .vjs-current-time-display{
	margin-top: -7.4em;
}

.vjs-default-skin .vjs-duration .vjs-duration-display{
	margin-top: -7.4em;
}

.vjs-volume-control.vjs-control{
	margin-top: -9em;
}

.vjs-mute-control.vjs-control{
	margin-top: -9em;
	margin-left: 5em;
}



//content home - FEATURED FILMS

.napo-homepage-featured-films-container{
	background:@color-blue-napo;

	h2{
		color:@color-yellow-napo;
		padding-left: 2.5em;
	}
}

.napo-homepage-featured-films .jcarousel-container-horizontal{
	border:0px;
	border-radius: 0px;
	background:none;	
}

.jcarousel-skin-napo {
    text-align: left;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block{
	float: none;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block > li {
	float: none;
	display: inline;
	background:@color-blue-napo;
	width: 343px;
	height: 126px;
	border:0px;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block > li > a {
	display: inline-block;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-field-image {
	float:left;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-field-image img{
	width:170px; //style wrong ------- drupal must do it
	padding-right: 1em;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field{
	float:left;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field .napo_video_title{
	width: 162px;
	display:block;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field.views-field-body{
    color: #fff;
    height: 44px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 168px;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field.views-field-body #tmgmt-1{
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 109.2px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.napo-homepage-featured-films .jcarousel-view--frontpage-carousel-featured--block .views-field-title-field a{
	color:@color-yellow-napo;
	font-size: @font-size-base;
	text-transform: uppercase;
	font-weight: bold;
}

//breadcrumb

.breadcrumb{
	margin-bottom: 0px;

	a{
		font-weight: bold;
	}
}


//pagination

.pagination{
	a{
		font-weight: bold;
	}
	
	.active a{
		font-weight: bold;
		text-decoration: underline;
	}
	
	.prev.first , .next , .last{
		text-transform: uppercase;
	}
}

//list-view - gallery ---- selector view buttons

.view-display-id-page_list {
	h3{
		background:transparent;
		color:@color-blue-napo;
		margin-top:0px;
	}

	.napo-film-video-download-form-title {
	    margin-left: -2px;
	    margin-top: -8px;
	}

}

.block-napo-film{
	background: @color-napo-bg-gray-1;
	padding: 0.3em 0em 0.3em 0;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 13px;
}

.block-napo-film a[href*='list']{ //We need this style because when you are logged, drupal put <a> "configure"
	background:url('../images/last-view-ico.png') no-repeat 17px 4px @color-blue-light-napo;
	padding: 6px 18px 6px 4em;
}

.block-napo-film a[href*='list'].active{
	background:url('../images/last-view-ico.png') no-repeat 17px 4px @color-yellow-napo;
	padding: 6px 18px 6px 4em;
}

.block-napo-film a[href*='grid'] {
	background:url('../images/gallery-view-ico.png')no-repeat 17px 4px @color-blue-light-napo;
	padding: 6px 18px 6px 4em;
}

.block-napo-film a[href*='grid'].active {
	background:url('../images/gallery-view-ico.png')no-repeat 17px 4px @color-yellow-napo;
	padding: 6px 18px 6px 4em;
}

// Napo Film's - Gallery view

.napo-film-list-view-container{
	float:right;
	z-index: 9;
}

.view-display-id-page_grid {
	h3 {
		background:url('../images/background-blue.png') repeat-x;
		color:#FFF;
		height:73px;
		margin-bottom: 0;
		padding-left: 1em;
		padding-top: 8px;
		margin-top: 1.5em;
	}

	h3 a{
		color: #fff;
	    display: block;
	    width: 70%;
	}

	.napo-film-video-download-form-title {
	    margin-left: 33px;
	}
}

.view-napo-films {
	.row div:hover > .views-field-nothing.napo-film-content-container {
		color: #fff;
		display: block;
		margin-top: -52%; //responsive need this height
		padding: 1em;
		position: absolute;
	}

	.row div:hover > .views-field.views-field-field-image{
		background:url('../images/bacground-hover-napo-films-gallery.png') repeat-x;

		img{
			visibility:hidden;
		}
	}

	.napo-film-video-download-form{
		float: right;
		margin-right: 50px;
		margin-top: -46px;
		max-width: 50px;
		position: relative;
	}
}

.view-napo-films.view-display-id-page_grid .views-field-nothing.napo-film-content-container {
		display:none;
}


.field-name-field-tags{
	color:@color-yellow-napo;
	margin-bottom: 1em;
}

.napo-film-view-link{
	background:url('../images/napo-film-view-link.png') no-repeat;
	color:transparent;
	padding-bottom: 1em;
	padding-left: 2em;
	float:left;
}

.napo-film-view-link .glyphicon-play-circle:before{
	content:none;

}

.napo-film-view-episodes-link{
	color:@color-blue-napo;
	background:@color-yellow-napo;
	font-weight: bold;
	padding: 4px 0.5em 0.5em;
	margin-top: -2px;
	display: block;
	float: left;
}

.napo-film-list-view-container .views-widget-filter-search_api_views_fulltext input{
	margin-top: -2px;
	font-weight: bold;
}

.napo-film-list-view-container .views-submit-button{
	margin-left: -18px;
    margin-top: -24px;
}

.napo-film-list-view-container .views-submit-button button{
    color:transparent;
    border-color:@color-blue-light-napo;
   	background:url('../images/search.png') no-repeat 10px 5px @color-blue-light-napo;
}

.napo-film-video-download-form {
    float: right;
    position: relative;
    max-width: 50px;
    margin-top: -20px;
    margin-right: 100px;
}
.napo-film-video-download-form form{
    display: none;
    color: #fff;
    background: #000099;
}
.napo-film-video-download-form:hover form{
    position: absolute;
    display: block;
    width: 84px;
    height: 156px;
    background:@color-blue-light-napo;
    color: @color-blue-napo;
    z-index: 9;
    margin-left: 33px;
    
}

.napo-film-video-download-form:hover .form-type-radio{
	margin-top: 10px;
	padding-left: 10px;
}

.napo-film-video-download-form:hover form input{
    margin-left: -8px;
    display:none;
}

.napo-film-video-download-form:hover form label{
   font-weight: bold;
   padding-left: 0px;
}

.form-type-radio.form-item-download-format.form-item.radio:hover{
	background:@color-yellow-napo;
}



.napo-film-video-download-form label[for='edit-download-format']{
    display: none;
}


//Napo Film's - List view

.napo-film-list-details-container{
	background: @color-napo-bg-gray-1;
	padding: 0.6em;
	height:37px;
}

.napo-film-list-view{

	.views-row{
		margin-bottom: 2em;
	}

	.field-name-field-tags{
		color:@color-blue-napo;
		float: left;
  		padding-right: 1em;
  		font-weight: bold;
	}

	.napo-film-view-episodes-link{
		color: #FFF;
		font-weight: bold;
		padding: 9px 43px 8px 10px;
  		margin-top: -8px;
		display: block;
		float: left;
		background: url('../images/arrow-button-yellow.png') no-repeat 93% 6px @color-blue-napo;
	}

	.napo-film-view-link{
		background: url('../images/napo-film-view-link.png') no-repeat;
		color: transparent;
		padding-bottom: 1em;
		padding-left: 2em;
		float: left;
	}
	
	.napo-film-image-container .napo-film-view-episodes-link{
		margin-top: -37px;
		z-index: 9999999;
		display: block;
		position: absolute;
		margin-left: 211px;
 		padding: 5px 40px 7px 9px;
		background: url('../images/arrow-button-yellow.png') no-repeat 95% 3px @color-blue-napo;
	}

	.napo-film-video-download-form{
		float: left;
		margin-right: 50px;
		margin-top: 0px;
		max-width: 50px;
		position: relative;
		margin-left: 1em;
	}

	.view-film-details-icon{
		background: url('../images/napo-film-view-link.png') no-repeat 10px 10px @color-blue-napo;;
		background: url('../images/napo-film-view-link.png') no-repeat 10px 5px #1f3695;
		color: transparent;
		padding-bottom: 0em;
		padding-left: 0em;
		float: left;
		width: 49px;
		height: 37px;
		margin-top: -9px;
		margin-left: 14px;
	}

	.content-cart-add-to-cart-btn{
		color: #FFF;
		font-weight: bold;
		padding: 6px 43px 8px 8px;
		margin-top: -37px;
		display: block;
		float: right;
		background: url('../images/arrow-button-yellow.png') no-repeat 93% 6px @color-blue-napo;
	}
}

//Video Detail

.field-name-episode-list{

	background:@color-napo-bg-gray-1;

	h2{
		color:@color-napo-gray-5;
		background: url('../images/ico-view-episodes.png') no-repeat 23px 15px;
  		padding: 1em 1em 1em 3em;
  		font-weight: bold;
  		text-transform: uppercase;
	}


	.jcarousel-item:hover{
		.views-field-title-field{
			display:block;
		}	
	}


	.views-field-title-field{
		position: absolute;
  		width: 220px;
  		display:none;
  		background: url('../images/background-blue.png') repeat-x;
  		height: 46px;
  		margin-top: 20px;
	}

	.napo_film_episode_link{
		text-align: left;
  		padding-left: 1em;
  		margin-top: 10px;

		a{
			color:#FFF;
			background: url('../images/arrow-button-yellow.png') no-repeat 95% 8px transparent;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			margin-top: -8px;
			padding-top: 11px;
			padding-bottom: 12px;
			padding-left: 0px;
		}
	}
}


.node-napo-video{
	//background: @color-napo-bg-gray-1;

	.field-name-film{
		padding-top: 2em;
		color:@color-napo-gray-5;
		background: url('../images/ico-film.png') no-repeat 23px 7px @color-napo-bg-gray-2;
  		font-weight: bold;
  		text-transform: uppercase;
  		font-size:@font-size-h2;

  		.field-label{
  			padding-left: 2.7em;
  		}
	}

	.field-name-field-tags{
		color:@color-blue-napo;
		padding-left: 1em;
		padding-top:1em;
		font-weight: bold;
		background:@color-napo-bg-gray-1;
		margin-bottom: 0px;
		padding-bottom: 1em;
	}

	.field-name-body{
		padding-left:1em;
		padding-right:1em;
		padding-bottom: 1em;
		background:@color-napo-bg-gray-1;
	}

	.field-name-film field-type-ds{
		background:@color-napo-bg-gray-1;
	}

	.field-name-film.field-type-ds {
	    padding:0.4em;
	}

	.napo-film-video-download-form{
		margin-top: -37px;
		cursor:pointer;
	}

	.napo-share-widget {
	    float: right;
	    position: relative;
	    margin-top: -37px;
	   	color:transparent;
		background:url('../images/share.png') no-repeat -3px -12px @color-blue-napo;
  		height: 37px;
  		width: 47px;
  		cursor: pointer;
		

		> ul {
		    display: none;
		    background: @color-blue-light-napo;
		    margin-top: 17px;
			font-weight: bold;
			list-style: none;
			padding:0;
		}

		> ul > li {
		    cursor: pointer;
		    color: @color-blue-napo;
		    padding: 8px;
		}

		> ul > li:hover {
		    background: @color-yellow-napo;
		}

	}

	.napo-share-widget:hover ul{
    	position: absolute;
		display: block;
	}

}


.jcarousel-skin-default .jcarousel-next{
	background: url('../images/carousel-right.png') no-repeat;
	height: 40px;
	background-position: 9px 25px;
  	padding-bottom: 7em;
	&hover {
		background: url('../images/carousel-right.png') no-repeat;
	}
}

.jcarousel-skin-default .jcarousel-prev{
	background: url('../images/carousel-left.png') no-repeat;
	height: 40px;
	background-position: 0px 25px;
  	padding-bottom: 7em;
	&hover {
		background: url('../images/carousel-left.png') no-repeat;
	}
}

.jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: 9px 25px;
  	padding-bottom: 7em;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover{
	background-position: 0px 25px;
  	padding-bottom: 7em;
}

#recommended_films{
	background:@color-blue-napo;
	margin-top: 2em;
  	padding: 1em;
  	height:1%;
  	overflow:hidden;

	.recommended_films_head{
		color:@color-yellow-napo;
		font-size: @font-size-h2;
		font-weight: bold;
		text-transform: uppercase;
	}

	h5 a{
		color:@color-yellow-napo;
	}
}

//Episode List 

.view-napo-s-film-episodes{
	.views-row{
		margin-bottom: 1em;
		clear: both;
		background:@color-napo-bg-gray-1;
	}

	.views-row div{
		margin: 0;
		padding: 0;
		
	}

	h3{
		background:@color-blue-napo;
		margin: 0;
  		padding: 10px;	
		a{
			color:#FFF;
			font-size: 15px;
		}
	}

	.field-name-field-tags{
		color: @color-blue-napo;
		font-weight: bold;
		padding:1em!important;
	}


}