// Insert your styling here.

// Bootstrap variables.
@import 'variables.less';

//content home

#block-views-featured-articles-block{
	margin-top: -85px;
}

.field-content.featured-article-header{
	background-color: @color-yellow-napo;
	height:59px;
}

.field-content.featured-article-header:hover{
	border-bottom: 5px solid @color-blue-napo;
}

.field-content.featured-article-header a{
	font-size: @clickable-text-big;
}

.field-content.featured-article-body{
	background-color:#f2f1f2;
}

.more-link{
	background: url('../images/see-more-links.png') no-repeat 100% 40% ;
	padding-right: 2.5em;
}
