// Bootstrap variables.
@import 'variables.less';

// footer

.footer{
	border:0px;
	margin-top: 0px;
}

footer h2{
	color:#B1B3B4;
	font-weight: bold;
}

footer .jcarousel-container-horizontal img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	border:0px;
	margin:0 auto;
}

footer .jcarousel-container-horizontal img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	border:0px;
}

.jcarousel-skin-default .jcarousel-item{
	border:0px;
}

footer #block-menu-block-2 .menu.nav.navbar-nav{
	width:100%;
	background:url('../images/nav-bar-border.png') repeat-x scroll 1px center rgba(0, 0, 0, 0);
	text-align:center;
	margin-top: 2em;
}

footer #block-menu-block-2 .menu.nav.navbar-nav li.first{
    display: inline-block;
    padding-right: 1em;
  	padding-left: 2em;
  	background:#FFF;
}

footer #block-menu-block-2 .menu.nav.navbar-nav li.last{
    background:url('../images/nav-bar-border.png') repeat-x scroll 1px center rgba(0, 0, 0, 0);
    display: inline-block;
    padding-right: 2em;
    background:#FFF;
}

footer #block-menu-block-2 .menu-block-text-suffix{
	text-align: center;
	color:@color-blue-napo;
	margin-bottom: 1.5em;
	font-weight: bold;
}

#block-menu-block-1{
	background:@navbar-default-bg;
	padding:1em;
}

#block-menu-block-1 a{
	color:@color-gray-napo-footer;
}

footer .navbar-nav {
	float: none;
	text-align: center;
}

footer .navbar-nav > li {
	float: none;
}

footer .nav > li {
	display: inline;
}

footer .nav > li > a {
	display: inline-block;
}


// carousel NAPO IS THE INITIATIVE OF:

footer .jcarousel-skin-default .jcarousel-container-horizontal{
	padding:0!important;
}

footer .jcarousel-skin-default .jcarousel-item{
	text-align: center;
    width: 141px !important;
}
