// Bootstrap variables.
@import 'variables.less';

// header

.header_top_bar{
	background-color: @color-blue-napo;
	color:#FFF;

}

.header_top_bar a{
	color:#FFF;
}

.navbar-default{
	background-color: #FFF;
  	border-color: #FFF;
  	
}

.nav-bar-separate{
	background-image: url('../images/nav-bar-border.png') ;
  	background-repeat: repeat-x;
  	background-position: 30px;
  	height:18px;
  	width:100%;
}


.glyphicon-print:before{
  padding-left:5px;
}

// Default navbar.

.nav .caret{
    display:none;
}

.navbar.container.navbar-default .col-md-9.pull-right{
	margin-top: 10px;
  margin-right:-9%;
}

.navbar.container {
  margin-top: 20px;
  > .container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.menu.nav.navbar-nav {
  background-color: @navbar-default-bg;
  font-weight: bold;
}

.menu.nav.navbar-nav li.first{
  margin-right: 0px;
}

.menu.nav.navbar-nav li img{
  margin-right: 0px;
}

.menu.nav.navbar-nav .expanded.dropdown{
  height:62px;
  vertical-align: middle;
  color:@link-color;
  border-left: 3px solid #FFF;
  display: block;
  padding: 1.5em 1em 1em;
  min-width: 130px;
  max-width: 130px;
}

.menu.nav.navbar-nav .dropdown-menu{
  padding:0px;
  font-weight: bold;
  border-top: 2px solid transparent;
  max-width: 129px;
  min-width: 129px;
  left: -1px;
}

.menu.nav.navbar-nav .dropdown-menu li{
  border-bottom: 2px solid #FFF;
}



.menu.nav.navbar-nav .dropdown-menu li a{
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: @navbar-default-bg;
}

.menu.nav.navbar-nav .expanded.dropdown:hover{
    background-color: @dropdown-bg;
    color:#FFF;
}


.navbar-collapse.collapse.col-md-8{
  padding-right: 0px;
}

.navbar.container.navbar-default .col-md-3{
   padding-left: 3px;
}

.dropdown-menu>li>a{
    white-space: inherit;
}

.dropdown-menu > li > a:hover::before{
	content:'> ';
}


.navbar-search .control-group {
  margin-bottom:0px;
}


// Search form.

form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 0px;
}

.glyphicon-search:before{
	color:@btn-blue-napo-color;
	position: absolute;
  margin-top: -16px;
}


.form-search.content-search .ui-theme-basic-green.ui-autocomplete-input{
	background-image:none;
}

.form-search.content-search .input-group{
	width:139px;
  font-weight: bold;
}

.form-search.content-search .btn-default{
	background-color: #bbc2df;
}

.form-search.content-search .form-control{
	height:28px;
	padding: 0px 16px;
	border-radius: 0px;
}

.form-control:focus{
  box-shadow: none;
}

.lang_dropdown_form.language_content .lang-dropdown-select-element.form-control.form-select{
	height:31px;
	margin-top: 3px;
	border-radius: 0px;
  font-weight: bold;
  padding: 4px 12px;
}

.form-search.content-search  .input-group-btn .btn.btn-default{
	height:28px;
	border-radius: 0px;
  color: transparent;
  background: url('../images/search.png') no-repeat 9px 3px #bbc2df;
  
  .glyphicon-search:before{
      content: "";
  }

}

//language

#lang-dropdown-select-language_content{
  -webkit-appearance: none; 
  -moz-appearance: none;
  background: url('../images/arrow-language.png') no-repeat 105px 3px @color-yellow-napo;
}

