// Bootstrap variables.
@import 'variables.less';

// header


.header_top_bar{
  background-color: @color-napo-bg-gray-6;
  color:#FFF;
  .container.text-right{
    padding: 0 !important;
  }
  .region-header-top-bar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
    min-height: 5rem;
    > div{
      border: 0 !important;
      float: none !important;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      label{
        vertical-align: middle;
        margin:0; 
      }
      a, label{
        padding: 1.2rem 0px;
        font-size: 1.5rem;
        font-weight: bold;
        color:#FFF;
        &:hover{
          text-decoration:none;
        }
      }
      &:after{
        content:'|';
        position: relative;
        padding: 0 1rem;
        display: inline-block;
        font-weight: bold;
      }
      &#block-napo-menu-contact-us-header-link{

      }
      &#block-menu-block-3{
        vertical-align: text-top;
        .introduction-image{
          img{
            margin-right: 0.5rem;
          }
        }
      }
      &#block-napo-common-napo-print-friendly{
        font-weight: bold;
        > a{
          background: url(../images/print-icon.svg) right center no-repeat;
          background-size: 25px;
          padding-right: 3rem;
          font-weight: bold;
          > span.glyphicon{
            display: none;
          }
        }
      }
      &.block-text-resize{
        font-weight: bold;          
        sup{
        display: none;
        }
        a{
          padding-left: 1rem;
          background-color: transparent;
          background-position: left top;
          background-repeat: no-repeat;          
        }
        #text_resize_increase {
          background: url(../images/a-plus.png);
          padding-left: 1.6rem;
          background-color: transparent;
          background-position: left 1.5rem;
          background-repeat: no-repeat;
          margin-left: 0.7rem;
          font-size: 2.1rem;
        }
        #text_resize_decrease {
          background: url(../images/a-minor.png?v=2);
          padding-top: 1.6rem;
          padding-left: 1.2rem;
          background-color: transparent;
          background-position: left 1.3rem;
          background-repeat: no-repeat;
          margin-left: 0.5rem;
          font-size: 1.6rem;
        }
      }
      &#block-content-cart-content-cart-summary{
        #content_cart_summary{
          > a{
            background: url(../images/download-icon.svg) right center no-repeat;
            background-size: 25px;
            padding-right: 3rem;
            font-weight: bold;
          }          
        }
        .content_cart_summary_count::before {
          content: "(";
        }
        .content_cart_summary_count::after {
          content: ")";
        }
        &:after{
          content:'';
        }
      }
    }
  }
}

.navbar-default{
  background-color: #FFF;
  border-color: #FFF;
  padding-left: 0;
  padding-right: 0;
	.navbar-header{
		padding-left: 0;
		margin-left: -10px;
    padding-right: 0px;
	}
	.pull-right{
		padding-right: 0;
		margin-top: 0px;
		margin-right:0px;
	}
	nav .pull-right{
		margin-top: 0px;
	}
}

.nav-bar-separate{
	background-image: url('../images/nav-bar-border.png?v=2') ;
  	background-repeat: repeat-x;
  	background-position: 30px;
  	height:18px;
  	width:100%;
}

.nav>li>a:hover, .nav>li>a:focus{
    background:none;
}

/* .glyphicon-print:before{
  padding-left:5px;
} */
.glyphicon.glyphicon-print {
	background: url('../images/print.png?v=2') no-repeat 0px 0px;
	color: transparent;
	float: right;
	width: 25px;
	height: 25px;
	margin-top: -0.2em;
	margin-left: 0.5em;
}

// Default navbar.

.nav .caret{
    display:none;
}
.navbar{
  min-height: 7rem;
  .logo{
  padding-right: 0px;
  margin: 0;
  }
  &.container {
    margin-top: 20px;
    margin-bottom: 7px;
    padding-left:0;
    &.navbar-default .col-md-9.pull-right{
      margin-top: 10px;
      margin-right:-4%;
    }
    > .container {
      margin: 0;
      padding: 0;
      width: auto;
    }
  }
}




/*Fix in DA, DE language*/
[lang=da] .menu.nav.navbar-nav li:nth-child(3) .dropdown-menu , [lang=de] .menu.nav.navbar-nav li:nth-child(3) .dropdown-menu{
  width:215px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: @navbar-default-bg;
}
.navbar-collapse.collapse.col-md-8{
  padding-right: 0px;
}
.navbar.container.navbar-default .col-md-3{
  padding-left: 3px;
}
.navbar-search .control-group {
  margin-bottom:0px;
}





// Search form.

.navbar #block-search-form {
  float: none;
  margin: 0px;
}
/*
.content-search{
  .btn-default{
    background-color: #bbc2df;
  }
}
*/

.form-control:focus{
  box-shadow: none;
}

.lang-dropdown-select-element.form-control.form-select{
  height:31px;
  margin-top: 3px;
  border-radius: 0px;
  font-weight: bold;
  padding: 4px 16px;
  font-size:13px;
}

header{
  .nav-main-menu{
    display: flex;
    justify-content: flex-end;
    .pull-right{
      margin: 0;
    }
  }
  .menu{
    &.nav.navbar-nav{
      background: none;
      font-size: 1.5rem;
      //background-color: @navbar-default-bg;
      font-weight: bold;
      display:flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;

      .dropdown-menu{
        padding:0px;
        font-weight: bold;
        border-top: 2px solid transparent;
        max-width: 215px;
        min-width: 129px;
        left: -1px;
        li{
          border-bottom: 2px solid #FFF;
          a{
            font-weight: bold;
            padding-right:10px;
          }
        }
        & > li > a{
          padding: 3px 0px 3px 14px;
          white-space: inherit;
          &:hover::before{
            content:'> ';
          }
        }
      }
      .dropdown-toggle.nolink{
        cursor:auto;
        line-height: initial;
      }
      .expanded.dropdown:hover{
        background-color: @dropdown-bg;
        color:#FFF;
      }
      > li{
        border-radius:6rem;
        border: 0 !important;
        min-height: 6rem !important;
        margin-right:1rem;
        background:@link-color;
        padding: 1em 1em 0em 1em !important;
        display: inline-table;
        &:hover{
          border-radius:3rem 3rem 0 0;
          -webkit-transition:all 0.1s;
          transition:all 0.1s;
          background: #506B9E !important;
          ul.dropdown-menu{
            border-radius: 0 0 0rem 3rem;
            width: 35rem;
            border-top:1rem solid transparent;
            overflow: hidden;
            li{
              padding:0;
              border: 0;
              border-top:1px solid #506B9E;
              &:last-child{
                  a:hover{
                    //border-radius: 0 0 0rem 3rem;
                  }
                }
              a{
                padding: 1rem 1rem 1rem 3rem;
                background-position:50% 50%;
                &:hover{
                  background:#506B9E url(../images/arrow-menu-hover.png) 97% 50% no-repeat;
                  &:before{
                    content:'';
                  }
                } 
              }
            }
          }
        }
        &.first{
          margin-right:1rem;
          &:hover{
            border-radius:6rem;
          }
          a{
            padding: 0;
            img{
              margin-right: 0px;
             // display: none;
            }
            #alttext{
              display: none;
            }
          }
          ul li.first{
            margin-right: 0px;
            a{
              padding-left: 15px;
              padding-right: 7px;
            }
          }
        }
        span{
          color: #FFF;
          display: block;
          text-align: center;
          .caret{
            background-image: url(../images/a-minor.png?v=2);
            background-color: transparent;
            background-position: center 0px;
            background-repeat: no-repeat;
            width: 100%;
            height: 10px;
            vertical-align: middle;
            border: 0;
            margin: 0;
          }
        }
        > a{
          padding-top: 14.5px;
        }
        a{
          background: transparent;
          color: #FFF;
          padding: 0;
          display: block;
          &:hover{
            background:transparent;
          }
        }
      }
    }
  }
  #block-search-form{
    margin: 0;
    h3{
      display: none;
    }
    .form-actions#edit-actions{
      margin-bottom: 0px !important;
      display: none;
    }
    .content-search{
      .input-group{
        width:163px;
        font-weight: bold;
        .form-control{
          height:28px;
          padding: 0px 16px;
          border-radius: 0px;
          border-radius: 6rem 0 0 6rem;
          background: @link-color;
          color: #FFF;
          &::-webkit-input-placeholder {
            color: #FFF;
          }
          &::selection, &:focus{
          background: @link-color;
          color: #FFF;
          }
          &:-webkit-autofill{
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
          }
        }
        .input-group-btn{
          .btn-primary{
            border-radius: 0 6rem 6rem 0;
            background: url('../images/search.png?v=2') no-repeat 25px 3px  @link-color;
            color: #FFF;
            height:28px;
            .glyphicon-search:before{
              content: "";
              color:@btn-blue-napo-color;
              position: absolute;
              margin-top: -16px;
            }
          }
        }
        .ui-theme-basic-green.ui-autocomplete-input{
          background-image:none;
        }  
      } 
    }
  }
  #block-lang-dropdown-language-content{
    #lang_dropdown_form_language_content{
      border-radius: 6rem;
      .form-type-select{
        margin: 0 !important;
        position: relative;
        display: inline-block;
        select::-ms-expand{
          display:none;
        }
        &:after{
          width: 26px;
          height: 30px;
          display: block;
          content: '';
          position: absolute;
          right: 0px;
          top: 5px;
          pointer-events: none;
           background: url('../images/arrow-language.png?v=2') no-repeat 2px 6px transparent;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
        #lang-dropdown-select-language_content{
          line-height: 18px;
          border: none;
          border-radius: 0;
          height: 31px;
          width:163px!important;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background: @color-yellow-napo;
          cursor:pointer;
        } 
      }
    }
  }
}
