// Bootstrap variables.
@import 'variables.less';

// header

.header_top_bar{
	background-color: @color-blue-napo;
	color:#FFF;

}

.header_top_bar a{
	color:#FFF;
}

.navbar-default{
	background-color: #FFF;
  	border-color: #FFF;
	padding-left: 0;
	padding-right: 0;
	.navbar-header{
		padding-left: 0;
		margin-left: -10px;
	}
	.pull-right{
		padding-right: 0;
		margin-top: 5px;
		margin-right: -5px;
	}
	nav .pull-right{
		margin-top: 0px;
	}
}

.nav-bar-separate{
	background-image: url('../images/nav-bar-border.png') ;
  	background-repeat: repeat-x;
  	background-position: 30px;
  	height:18px;
  	width:100%;
}

/* .glyphicon-print:before{
  padding-left:5px;
} */
.glyphicon.glyphicon-print {
	background: url('../images/print.png') no-repeat 0px 0px;
	color: transparent;
	float: right;
	width: 25px;
	height: 25px;
	margin-top: -0.2em;
	margin-left: 0.5em;
}

// Default navbar.

.nav .caret{
    display:none;
}

.navbar.container.navbar-default .col-md-9.pull-right{
	margin-top: 10px;
  margin-right:-4%;
}

.navbar.container {
  margin-top: 20px;
  margin-bottom: 7px;
  padding-left:0;
  > .container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.menu.nav.navbar-nav {
  background-color: @navbar-default-bg;
  font-weight: bold;
  display:flex;
}

.menu.nav.navbar-nav li.first{
  margin-right: 0px;
  a{
    padding-left: 7px;
    padding-right: 7px;
  }
}

.menu.nav.navbar-nav li ul li.first{
  margin-right: 0px;
  a{
    padding-left: 15px;
    padding-right: 7px;
  }
}

.menu.nav.navbar-nav li img{
  margin-right: 0px;
}

.navbar-nav > li > a{
    padding-top: 14.5px;
}

.menu.nav.navbar-nav .expanded.dropdown{
  min-height: 63px;
  vertical-align: middle;
  color:@link-color;
  border-left: 3px solid #FFF;
  display: block;
  padding: 1.5em 0.5em 1em 1em;
  min-width: 130px;
  max-width: 130px;
  &.last{
	border-right: 3px solid #FFF;
  }
}

.menu.nav.navbar-nav .dropdown-menu{
  padding:0px;
  font-weight: bold;
  border-top: 2px solid transparent;
  max-width: 150px;
  min-width: 129px;
  left: -1px;
}

.menu.nav.navbar-nav .dropdown-menu li{
  border-bottom: 2px solid #FFF;
}



.menu.nav.navbar-nav .dropdown-menu li a{
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: @navbar-default-bg;
}

.menu.nav.navbar-nav .expanded.dropdown:hover{
    background-color: @dropdown-bg;
    color:#FFF;
}


.navbar-collapse.collapse.col-md-8{
  padding-right: 0px;
}

.navbar.container.navbar-default .col-md-3{
  padding-left: 3px;
}

.dropdown-menu > li > a{
  padding: 3px 14px;
}

.dropdown-menu>li>a{
    white-space: inherit;
}

.dropdown-menu > li > a:hover::before{
	content:'> ';
}


.navbar-search .control-group {
  margin-bottom:0px;
}


//Header links

#block-menu-block-3{
  float:right;
  padding-right: 1em;
  border-right: 2px solid #FFF;

  ul{
    background:transparent;
  }

  li.first{
    padding-right: 1em;
  }
}

.block-text-resize{
  float:right;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 2px solid #FFF;
  font-weight: bold;
  sup{
	display: none;
  }
  a{
	padding-left: 1em;
	background-color: transparent;
	background-position: left top;
	background-repeat: no-repeat;
	  &#text_resize_increase{
		background-image: url('../images/a-plus.png');
	  }
	  &#text_resize_decrease{
		background-image: url('../images/a-minor.png');
		padding-top: 0.5em;
	  }
  }
}

#block-napo-common-napo-print-friendly{
  float:right;
  padding-right: 1em;
  padding-left: 1em;
    border-right: 2px solid #FFF;
    font-weight: bold;
    height:24px;
  h2{
    margin:3px 0 0 0;
    padding:0;
  }
}

#block-content-cart-content-cart-summary{
	float:right;
	padding-left: 1em;
	font-weight: bold;
	margin-top:3px;
  a{
    background: url('../images/donwload-center-header.png') no-repeat 100% 0%;
    padding: 3px 25px 3px 0px;

  }
  .content_cart_summary_count{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .content_cart_summary_count::before{
      content: "( ";
    }  
    .content_cart_summary_count::after{
      content: " )";
    } 

  .content_cart_summary_count.contet-cart-has-items{
    color:@color-yellow-napo;
  } 
}


// Search form.

form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 0px;
}

.glyphicon-search:before{
	color:@btn-blue-napo-color;
	position: absolute;
  margin-top: -16px;
}


.form-search.content-search .ui-theme-basic-green.ui-autocomplete-input{
	background-image:none;
}

.form-search.content-search .input-group{
	width:163px;
  font-weight: bold;
}

.form-search.content-search .btn-default{
	background-color: #bbc2df;
}

.form-search.content-search .form-control{
	height:28px;
	padding: 0px 16px;
	border-radius: 0px;
}

.form-control:focus{
  box-shadow: none;
}

.lang_dropdown_form.language_content .lang-dropdown-select-element.form-control.form-select{
	height:31px;
	margin-top: 3px;
	border-radius: 0px;
  font-weight: bold;
  padding: 4px 12px;
  font-size:13px;
}

.form-search.content-search  .input-group-btn .btn.btn-default{
	height:28px;
	border-radius: 0px;
  color: transparent;
  background: url('../images/search.png') no-repeat 9px 3px #bbc2df;
  
  .glyphicon-search:before{
      content: "";
  }

}

//language
/* para que tambien se vea correctamente en IE */
#block-lang-dropdown-language-content .form-type-select{
	position: relative;
	display: inline-block;
}
#block-lang-dropdown-language-content .form-type-select:after{
	width: 30px;
	height: 30px;
	display: block;
	content: '';
	position: absolute;
	top: 0px;
	left: 77.5%;
	pointer-events: none;
	 background: url('../images/arrow-language.png') no-repeat 4px 6px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#lang-dropdown-select-language_content{
	line-height: 100%;
	border: none;
	border-radius: 0;
	height: 31px;
  width:163px!important;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: @color-yellow-napo;
} 
/* se ve en todos menos en IE */
/*
#lang-dropdown-select-language_content{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: url('../images/arrow-language.png') no-repeat 105px 3px @color-yellow-napo;
}
*/
