//rewrite styles for responsive design


@media only screen and (max-width : 767px) {

iframe{
  width:100%;
}

.view-display-id-page_list.napo-film-list-view{
  padding-left: 0em;
}

.btn.content-cart-add-to-cart-btn.content_cart_check_submit-processed{
  display:none;
}

.navbar-default .navbar-header{
  margin-right: 0px;
}

.vjs-default-skin .vjs-big-play-button{
    left: 19%;
    top: 16%;
}

.logo.navbar-btn.pull-left{
	float:right!important;	
}

.navbar-collapse{
	float:left!important;
	max-height: 400px;
	padding-left: 0px;
}

.navbar-collapse.collapse.col-md-8{
	width: 100%;
	overflow:hidden;

	nav{
		margin-left: 0px;
    width:97%;
	}

	nav div{
		float:left!important;
    width:300px;
	}

  #lang-dropdown-select-language_content{
    width:300px!important;
  }
  
  .form-type-select:after{ //menu dropdown
    left: 262px!important;
    background: url('../images/arrow-language.png?v=1') no-repeat -2px 6px transparent;
  }
  
}

.navbar.container.navbar-default .col-md-8.pull-right{
  margin-top: 0px;
  margin-right: 0%; 
  float: left !important;
  width: 300px;
  margin-left: 5px;
}

.menu.nav.navbar-nav {
  display:block;
  margin: 5.75px -15px;
}

.menu.nav.navbar-nav .expanded.dropdown.last{
  border-right: 0px;
}

.menu.nav.navbar-nav .first{
  	padding-left: 15px;

}

.menu.nav.navbar-nav .expanded.dropdown{
	min-width: 100%!important;
  	max-width: 100%!important;
  	height:auto;
  	padding: 1em 0px 10px 30px;

  	.first{
  		padding-left: 10px;
  	}

}

.menu.nav.navbar-nav .dropdown-menu{
	min-width: 103%!important;
  	max-width: 103%!important;
  	position:relative;
  	left: -15px;
}


.expanded.dropdown.open{
   background-color: @color-blue-napo;
}

.expanded.dropdown.open span{
    background-color: @dropdown-bg;
    color:#FFF;
    display: block;
    padding-bottom: 10px;
}

.nav .caret {
  display: none!important;
}

.expanded.dropdown.open ul li a{
    background-color: @dropdown-bg!important;
    color:#FFF!important;
}

.menu.nav.navbar-nav .dropdown-menu li {
  border-top: 2px solid #FFF;
  border-bottom: 0px solid #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background:transparent;
 
}

.navbar-toggle{
  border: 0px solid transparent;
  margin-top: 8px;
  padding-left: 26px;
  margin-right: 0px;
}

.navbar-default .navbar-toggle .icon-bar{
  background:@color-blue-napo;
  height: 3px;
}

#edit-search-word-wrapper{
  margin-left: 17px;
  width: 77%;
}

.views-exposed-form .views-exposed-widget .form-submit{
  width:69px;
}

.views-exposed-form{
  margin-right: 0px;
}

.napo-film-list-view-container form{
   margin-left: 0px;
}

//Menu search autocomplete

.form-search .ui-autocomplete{
  display:none!importanto;
}

//episode list
/*
  .view-napo-s-film-episodes .views-row{
      .napo-film-video-download-form ~ a{
        position: relative!important;
        margin-top: -51px!important;
        float: right!important;
        left: 13px!important;
      }
  }
*/
//Home

.video-js{
  height:223px!important;
  margin-bottom: 10em!important;
}

.video-js.vjs-default-skin.vjs-paused .vjs-big-play-button{
  background: url('../images/play-video-small.png?v=1') no-repeat 72% 40%;
  margin-left: 10%;
  margin-top: 10%;
}

.slider .frontpage-video-title{
  background:transparent;
  top: -57px;
  padding:0;
  width: 92%;
  max-width: 100%!important;
  left: 15px;
}

.vjs-default-skin .vjs-controls{
  bottom:0px;
}

.vjs-default-skin .vjs-progress-control{
  margin-top: 0px;
}

.vjs-mute-control.vjs-control{
  margin-top: -4em;
  margin-left: -1px;
}

.vjs-volume-control.vjs-control{
  margin-top: -4em;
  margin-left: 4em;
}

.vjs-default-skin .vjs-duration .vjs-duration-display , .vjs-current-time.vjs-time-controls.vjs-control .vjs-current-time-display{
    margin-top: -15px;
    font-weight: bold;
    background-color: @color-blue-napo;
    height: 12px;
    padding-top: 3px;
    color: @color-yellow-napo;
}

.slider .frontpage-video-title .field-content{
  h3 a{
    color:@color-blue-napo;
    font-size:15px;
  }

  p{
    display:none;
  }
}

.nav-bar-separate{
    margin-top: 20px;
}

.field-content.featured-article-body{
    min-height: 150px;
}

//iPhone hack , two icons play on Home
video::-webkit-media-controls { 
  display:none !important;
}

//input search in h1
#edit-search-api-views-fulltext-wrapper{
   width: 69%;
}

//List view
.view-display-id-page_list .napo-film-list-image img{
  width:100%!important;
}


//lesson

.node-lesson #group-right{
  float:none;
}

#menu-about-page-menu{
  display:none;
}

video{
  width:100%;
}

//Gallery images

.view-napos-gallery .views-field-body p{
  display:none!important;
}

//Gallery PopUp

#colorbox #cboxContent #cboxLoadedContent div img {
  width:100%!important;
  height:auto!important;

}

//Napo and friends

.views-slideshow-controls-top{
  display:none;
}

.view-napo-and-friends .views-slideshow-controls-text span{
  top:7%!important;
}

//Video detail
.node-napo-video .field-name-field-combined-tags{ 
  width:100%;
}

	.main-container.container .form-type-select:after{
		  left: 82.5%;
	}

	#block-napo-common-no-translation{
		background: url('../images/translation-not-available-left.png?v=1') no-repeat 5px -14%;
		padding-left: 2em;
		.no_translation_page_content{
			margin-left: 5em;
			height: 374px;
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
			font-size: 25px;
		}
		form{
			margin-left: 0%;
			width: 100%;
		}
		.lang-dropdown-select-element{
			max-width: 167px;
		}
		.form-item-available-languages label{
			width: 120px;
		}
		.page_not_found_front label{
			width: auto;
		}
	}
	#block-napo-common-page-not-found{
		.page_not_found_intro{
			font-size: 25px;
		}
		.page_not_found_search > div{
			width: 100px;
		}
		.page_not_found_front{
			width: 150px;
		}
	}

.col-md-6 .content-cart-add-to-cart-btn, .col-md-6 .btn[disabled]{
  display:none;
}

.view-napo-s-film-episodes .col-sm-9 .napo-film-video-download-form-title{
  display:none;
}

.napo-film-list-view, .view-napo-s-film-episodes .views-row{
  padding-left: 0em;
}
.view-napo-s-film-episodes .episode-list-details-container {
    padding: 0 1em 1em !important;
}

footer{
  padding-bottom: 0;
  #block-menu-block-2 .menu.nav.navbar-nav{
  width:auto;
    li.first{
      margin-top: 60px;
    }
  }

  .navbar-nav {
    margin:0;
  }

  .nav > li{
      display: block;
  }
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li > a{
  padding:0.5em!important;
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li~li{
  border-left: 0px!important;
}

#block-menu-block-1{
  padding: 0;
  background:transparent;
}

#block-views-featured-articles-block{
  padding-bottom: 10px;
}

#block-views-consortium-partners-block-1{
  padding-left: 15px;
  padding-right: 15px;
}

.footer{
  padding: 10px 0 0 0;
}

footer #block-menu-block-2 .menu-block-text-suffix{
  margin-bottom: 5px;
}

footer #block-menu-block-2 .menu.nav.navbar-nav{
  margin-top: 0em;
}

#block-menu-block-1 > div.menu-block-wrapper.menu-block-1.menu-name-menu-footer-menu > ul > li > a{
  text-decoration: underline;
}

//Contact us

#block-views-faqs-block{
  width:96%;
}

.ui-accordion .ui-accordion-icons{
  padding-left: 0;
}

.ui-accordion .ui-accordion-content{
  padding-left: 0;
}

.webform-client-form div div{
    margin-bottom: 2px;
}

.block-title.desplegado{
   bottom: 366px!important;
}

.webform-client-form{
  padding: 5px 5px 14px;
  right:0%;
  font-size:10px;
  
  .form-control{
    font-size:10px;
  }

  #edit-submitted-message{
    height:30px!important;
  }
}

.contact-form-widget-container h2{
  right:0%;
    .desplegado::before{
      background: url("../images/contact-us-button-desplegado.png?v=1") no-repeat scroll 23% 14px;
    }
}

//Gallery images

.node-napo-album .field.field-name-body{
  width:100%!important;
}

.node-napo-album .napo-share-widget{
  padding-top:0px;
  margin-top: -35px;
  margin-bottom: 10px;

}

.view-napos-gallery .views-field-nothing.napo-gallery-title-container{
  width: 360px!important;
}


//Gallery view

.view-napo-films-node.view-display-id-page_grid .views-field-field-image{
  height: 175px;
  overflow:hidden;
}

.view-id-napo_films.view-display-id-page_grid .views-field-field-image{
  height: 175px;
  overflow: hidden;
}

.view-napo-films .row div:hover > .views-field-nothing.napo-film-content-container{
  height: 125px;
  min-height: 125px;
}


}

@media only screen and (max-width : 320px) {
	#block-napo-common-no-translation{
		padding-left: 0em;
			.lang-dropdown-select-element{
				 max-width: 105px;
			}
	}
}

@media only screen and (max-width : 1200px) {

//Galery list view

.view-napo-films-node.view-display-id-page_grid .row .views-field-nothing p#tmgmt-2{
  display:none;
}

.view-napo-films.view-display-id-page_grid .row .views-field-nothing p#tmgmt-2{
  display:none;
}

.view-napo-films-node.view-display-id-page_grid .row div:hover > .views-field-nothing.napo-film-content-container{
  min-height: 230px;
}

.view-napo-films.view-display-id-page_grid .row div:hover > .views-field-nothing.napo-film-content-container{
  min-height: 230px;
}

//Napo and friend
.view-napo-and-friends .views-slideshow-controls-top .views-slideshow-pager-field-item{
    width: 127px;
}

.view-napo-and-friends .views-slideshow-controls-top .views-content-title-field{
    width: 93px;
}

//Episode list
.view-napo-s-film-episodes.view-id-napo_s_film_episodes .col-sm-3 img{
    height: 148px;
}


//Napo List View
.napo-film-list-details-container {
  position:static;
  height:1%;
  overflow:hidden;
  padding-bottom: 9px;
}

.napo-film-list-view .field-name-field-combined-tags{
  float:none;
  width: 100%;
}

.napo-film-list-view .napo-film-view-episodes-link{
    margin-left: 0;
    margin-top: 20px;
	max-width: 80%;
}

.napo-film-list-view .view-film-details-icon{
  margin-top: 9px;
}
	.napo-film-list-view a span.view-film-details-icon{
		margin-left: 0px;
	}

.node-lesson #group-right {
	padding-left: 15px;
}

.node-lesson #menu-about-page-menu.nav-right-menu.affix{
	max-width: 205px;
}

//Gallery images

.view-napos-gallery .views-field-nothing.napo-gallery-title-container{
  width: 293px;
}



}


@media only screen and (max-width : 992px) {



//view gallery list

.view-display-id-page_list h3{
    margin-top: 10px;
}

.view-napo-films-node.view-display-id-page_grid .row div:hover > .views-field-nothing.napo-film-content-container{
    min-height: 175px;
}

.view-napo-films.view-display-id-page_grid .row div:hover > .views-field-nothing.napo-film-content-container{
    min-height: 175px;
}

.view-napo-films-node.view-display-id-page_grid .row .views-field-nothing p#tmgmt-1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
}

.view-napo-films.view-display-id-page_grid .row .views-field-nothing p#tmgmt-1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
}

.napo-homepage-featured-films-container{
  display:none;
}

.views-field-nothing-1.napo-film-image-container{
  padding-bottom: 10px;
}

.back_button{
  float:none;
  padding-bottom: 16px;
  display: block;
  margin-bottom: 1em;
  margin-top: 0px;
}

.node-napo-album .back_button {
   margin-top: 0px;
}

.affix{
  position:relative;
}
.node-lesson #menu-about-page-menu.nav-right-menu.affix{
  width:100%;
  max-width:100%;
  position:relative;
  top:0px;
}
	.node-lesson #top_menu_lessons.nav.nav-right-menu.nav-stacked.affix{
	    width: 100% !important;
		top: 0px;
	}

.node-lesson #group-right{
	float: none;
}
.field-name-field-image.field-type-image{
    margin-top: 25px;
  }


.view-display-id-page_grid h3{
  font-size: 18px;
}

.view-napos-gallery .views-view-grid .views-field-field-image:hover ~ .views-field-body{
  margin-top: -231px;
}

//Episode list

.view-napo-s-film-episodes.view-id-napo_s_film_episodes .col-sm-3 img{
    height: auto;
}

.view-napo-s-film-episodes .episode-list-details-container a:nth-child(3){
  padding-right:150px;
}

.view-napo-s-film-episodes .views-row{
    margin-bottom:6em;
    /*
    .napo-film-video-download-form{
        position: absolute;
        left: 37px;
        margin-top: 23px;
    }
    
    .napo-film-video-download-form ~ a{
          position: absolute;
          margin-top: 43px;
          float: left;
          left: -10px;
    }
    */
}

.view-napo-s-film-episodes .episode-list-details-container {
  padding: 0 1em 1em;
  height: auto;
}

.view-display-id-page_list .napo-film-video-download-form-title{
    display:none;
}

.node-lesson .back_button{
  margin-top: 0px;
}

	#block-napo-common-page-not-found{
		background: #f4f4f4 url('../images/page-not-found-right.png?v=1') no-repeat 93% 0%;
		padding-left: 0em;
		padding-right: 218px;
	}
	
#block-system-main .view-download-center .views-field-nothing .col-md-9{
	display: table;
	width: 100%;
}

.pull-right{
  float: left !important;
  margin-left: 0px;
  padding-left: 0px;
}

.node-napo-album .field.field-name-body{
  width: 60%;
}

.view-napos-gallery .views-field-nothing.napo-gallery-title-container{
  width: 220px;
}

//films gallery view

.view-napo-films-node.view-display-id-page_grid .views-field-field-image{
  height: 175px;
  overflow:hidden;
}

.view-napo-films.view-display-id-page_grid .views-field-field-image{
  height: 175px;
  overflow:hidden;
}

}

@media (min-width: 1200px){
	
  .node-lesson #top_menu_lessons.nav.nav-right-menu.nav-stacked.affix{
		width: 60em !important;
	}

	.node-lesson #group-right .col-md-9 {
	  width: 61em;
	}

  .views-slideshow-controls-top{
    width: 1024px;
    margin: 0 auto;
  }


}


@media only screen and (max-width : 480px) {

  //episode list
  /*
  .view-napo-s-film-episodes .views-row{
      .napo-film-video-download-form ~ a{
        margin-top: -71px!important;
      }
  }
  */

  .field-name-field-combined-tags{
    float:left;
    /*width:86%!important;*/
    width:100%!important;
  }

  #block-views-episode-list-block .jcarousel-container.jcarousel-container-horizontal{
    width:100%!important;
  }

  #block-views-episode-list-block .views-field-nothing{
     width: 59%!important;
  }

  #block-views-episode-list-block .views-field-title-field{
     width: 59%!important;
  }

  .slider .frontpage-video-title p span{
    font-size: 11px!important;
    
  }

  .napo-film-video-download-form-title{
    display:none;
  }


  //Napo for teachers

  .view-napo-target-ages .lesson_by_age_image{
    float:none;
    padding-right:0em;
  }

  //Episode Detail

  .view-episode-list.view-id-episode_list{ 
    .jcarousel-next.jcarousel-next-horizontal , .jcarousel-prev.jcarousel-prev-horizontal{
       top:10px;
    }
  }

  .modal-dialog {
    .jcarousel-skin-default .jcarousel-next{
      margin-top:-10px;
    }

    .jcarousel-skin-default .jcarousel-prev{
      margin-top:-10px;
    }
  }

}


/* Landscape iphone*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

//Contact us

.contact-form-widget-container h2{
  width:100%;
}

.block-title.desplegado {
    bottom: 225px !important;
}

.webform-client-form{
  width:100%;
  bottom: 0;
  min-height: 235px;

 .webform-component--your-name{
    float: left;
    padding-right: 1em;
    width: 48%;
 }

 .webform-component--your-question{
    float: left;
    width: 51%;
 }

 .contact-form-email-wrapper{
    float: left;
    padding-right: 1em;
    width: 48%;
 }

 .contact-form-message-wrapper{
    float: left;
    width: 51%;
 }

}

 .gc-bubbleDefault.pls-container iframe{
  width:100%!important;
 }

}

@media only screen and (min-width : 992px) and (max-width: 1200px) {

.view-napo-films-node.view-display-id-page_grid .views-field-field-image{
  height:231px;
  overflow:hidden;
}

.view-napo-films.view-display-id-page_grid .views-field-field-image{
  height:231px;
  overflow:hidden;
}

}